
body{
    background-color: #e6ffcc;
    color: gray;
    font-family: "Times New Roman" , arial, serif, santserif;
}

#title{
    background-image: url("nerdy_logo.png");
    background-repeat: no-repeat;
    background-size: 54px;
    background-position: left;
    padding-left: 54px;
}


.post{
    border: solid;
    border-color: white;
    padding: 25px;
}

.stato{
    background-color: #ffffe6;
}
.profilo{
    padding: 10px;
    height: 50px;
}

label{
    display: block;
}
input{
    display: block;
}
input:focus{
    display: block;
    background-color: #ffffcc;
}
img{
    display: block;
}

#Login{
    position: absolute;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 75px;
    padding-bottom: 75px;
    top: 5%;
    left: 25%;
    width: 200px;
    border: solid;
}
@media only screen and (min-width: 1024px){
#Header{
    
    padding: 5px;
    width: 100%;
    float: left;
}

#Titolo{
    
    border: solid;
    border-color: white;
    width: 20%;
    float: left;
}
#Navigazione{
    border: solid;
    border-color: white;
    border-collapse: collapse;
    width: 75%;
    float: left;
}

#Navigazione h1{
    
    float: left;
    padding-left: 10px;
}
#Navigazione h1:hover{
    background-color: #ffffe6;
}
#Navigazione h2{
    float: right;
    padding-right: 10px;
}
#Sx_Col{
    border: solid;
    border-color: white;
    padding: 5px;
    float: left;
    width: 20%;
}
#Sx_Col a {
    display: block;
    padding-left: 25px;
    background-image: url("prof.gif");
    background-repeat: no-repeat;
    background-position: left; 
    background-size: auto 100%;
    text-decoration: none;
    
}
#groups{
    
    background-image: url("boh.gif");
    background-repeat: no-repeat;
    background-position: right; 
    background-size: auto 100%;
}
#Dx_Col{
    float: left;
    width: 75%;
}
.stato{
    
}
.pImage{
    margin-right: 20px;
    float: left;
    width: 35px;
    height: 35px;
}
div{
}
}
@media only screen and (min-width: 480px) and (max-width: 1024px){
#Header{
    
    padding: 5px;
    width: 100%;
    float: left;
}

#Titolo{
    
    background-image: url("nerdy_logo.png");
    background-repeat: no-repeat;
    background-size: 54px;
    background-position: left;
    border: solid;
    border-color: white;
    width: 15%;
    float: left;
}

#Navigazione{
    
    border: solid;
    border-color: white;
    border-collapse: collapse;
    width: 80%;
    float: left;
}
#title{
    visibility: hidden;
    padding-left: 54px;
}

#Navigazione h1{
    float: left;
    padding-left: 10px;
}
#Navigazione h1:hover{
    background-color: #ffffe6;
}
#Navigazione h2{
    font-size: 15px;
    float: right;
    padding-right: 10px;
}
#Sx_Col{
    
    border: solid;
    border-color: white;
    padding: 5px;
    float: left;
    width: 205px;
}
#Sx_Col a {
    display: block;
    padding-left: 25px;
    background-image: url("prof.gif");
    background-repeat: no-repeat;
    background-position: left; 
    background-size: auto 100%;
    text-decoration: none;
    
}
#groups{
    
    background-image: url("boh.gif");
    background-repeat: no-repeat;
    background-position: right; 
    background-size: auto 100%;
}
#Dx_Col{
    
    border: solid;
    border-color: white;
    float: left;
    width: 60%;
}
.pImage{
    margin-right: 20px;
    float: left;
    width: 35px;
    height: 35px;
}
div{
}    
}
@media only screen and (max-width: 480px){
#Header{    
    padding: 5px;
}

#Titolo{
    border: solid;
    border-color: white;
}
#Navigazione{    
    border: solid;
    border-color: white;
    border-collapse: collapse;
}

#Navigazione h1{
    padding-left: 10px;
}
#Navigazione h1:hover{
    background-color: #ffffe6;
}
#Navigazione h2{
    padding-left: 10px;
}
#Sx_Col{
    display: none;
}
#Dx_Col{
    border: solid;
    border-color: white;
    float: left;
    width: 100%;
}
.stato{}
.pImage{
    margin-right: 5px;
    float: left;
    width: 35px;
    height: 35px;
}
}